<html>
  <head>
    <title>File upload Node.</title>
  </head>
  <body>
    <% photos.forEach(function(galryinfo){  %>
      <img src="/<%=galryinfo.photo%>"/>
  
  <div>
    </div>
  
</tr>

    <% }) %>
  </body>
  
</html>